<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <%- include('./partials/header.ejs', {yearWeek: yearWeek, currentWeek:
    currentWeek}) %> <% groupedNotesArray.forEach(note => { %>
    <section class="archive">
      <div class="archive-week">
        <h2><%= `Week ${note.date}` %></h2>
        <h3><%= note.tagInput %></h3>
      </div>
      <% for(let item of note.notes) { %>
      <section class="note-section">
        <ul class="note-item">
          <li data-id="<%= item._id %>" class="single-note">
            <a
              href="/note/remove/<%= item._id %>"
              class="material-icons note-delete"
              >delete</a
            >
            <div class="single-note-heading">
              <span><%= item.headerInput %></span>
            </div>
            <div class="note-tags">
              <ul class="single-tag">
                <% item.tagInput.forEach(tag => { %>
                <li><%= tag%></li>
                <%}) %>
              </ul>
            </div>
            <a href="/note/<%= item._id%>">Go to note</a>
          </li>
        </ul>
      </section>
      <% }}) %>
    </section>
  </body>
</html>
