<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <%- include('./partials/header.ejs', {yearWeek: yearWeek, currentWeek:
    currentWeek}) %>

    <ul>
      <% groupedNotesArray.forEach(note => { %>

      <h2><%= `Week ${note.date}` %></h2>
      <h3><%= note.tagInput %></h3>
      <% for(let item of note.notes) { %>
      <li data-id="<%= item._id %>">
        <div>TITLE: <%= item.headerInput %></div>
        <div>TAGS: <%= item.tagInput %></div>
        <a href="/note/<%= item._id%>">Go to note</a>
        <a href="/note/remove/<%= item._id %>">Remove</a>
      </li>
      <% }}) %>
    </ul>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
