<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <%- include('./partials/header.ejs', {yearWeek: yearWeek, currentWeek:
    currentWeek}) %> <% groupedNotesArray.forEach(note => { %>
    <div class="archive-week">
      <h2><%= `Week ${note.date}` %></h2>
      <h3><%= note.tagInput %></h3>
    </div>
    <% for(let item of note.notes) { %>
    <ul class="note-item">
      <li data-id="<%= item._id %>">
        <div><%= item.headerInput %></div>
        <div><%= item.tagInput %></div>
        <a href="/note/<%= item._id%>">Go to note</a>
        <a href="/note/remove/<%= item._id %>">Remove</a>
      </li>
    </ul>
    <% }}) %>
  </body>
</html>
