<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <%- include('./partials/header.ejs', {yearWeek: yearWeek, currentWeek:
    currentWeek}) %>

    <dialog class="modal">
      <form action="/note/newNote" method="POST" class="noteForm">
        <button type="button" class="material-icons close-modal">close</button>
        <label for="headerInput">Title</label>
        <input
          type="text"
          id="headerInput"
          name="headerInput"
          required
          placeholder="Enter the title of your note..."
        />
        <label for="bodyInput">Note</label>
        <textarea
          name="bodyInput"
          id="bodyInput"
          cols="30"
          rows="10"
          placeholder="Enter your note..."
          required
        ></textarea>

        <label for="tagInput" class="label"
          >Tags (split your tags by pressing space)</label
        >
        <input
          type="text"
          id="tagInput"
          name="tagInput"
          placeholder="tag1 tag2 tag3..."
          autocomplete="off"
          class="tag-input"
        />

        <label for="weekNumber">Input date</label>
        <input type="date" id="weekNumber" name="weekNumber" />
        <button type="submit">Add note</button>
      </form>
    </dialog>
    <section class="content-area">
      <form class="search-form" method="POST">
        <fieldset class="filter-tags">
          <ul>
            <li>
              <% fullTagsArray.forEach(item => { %>
              <label for="label-button" class="label-button" value="<%= item %>"
                ><%= item %></label
              >
              <input
                type="checkbox"
                id="label-button"
                class="filter-checkbox"
                name="searchTags"
                value="<%= item %>"
              />
              <% }) %>
            </li>
          </ul>
        </fieldset>
      </form>
      <section class="note-section">
        <ul class="note-item">
          <% notes.forEach(note => { %> <% if(note.weekNumber ===
          Number(currentWeek)) {%>
          <li data-id="<%= note._id %>" class="single-note">
            <a
              href="/note/remove/<%= note._id %>"
              class="material-icons note-delete"
              >delete</a
            >
            <div class="single-note-heading">
              <span class="note-title"><%= note.headerInput %></span>
            </div>
            <div class="note-tags">
              <ul class="single-tag">
                <% note.tagInput.forEach(tag => { %>
                <li><%= tag%></li>
                <%}) %>
              </ul>
            </div>
            <a href="/note/<%= note._id%>" class="goto-note">Go to note</a>
          </li>
          <% }}) %>
        </ul>
      </section>
    </section>
    <footer>
      <div class="view-header">
        <h2><%=`Week ${currentWeek}` %></h2>
        <button type="button" class="material-icons open-modal">add</button>
      </div>
    </footer>
  </body>
</html>
