<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <form action="/newNote" method="POST">
      <label for="headerInput">Input header</label>
      <input type="text" id="headerInput" name="headerInput" />
      <label for="bodyInput">Input text</label>
      <textarea name="bodyInput" id="bodyInput" cols="30" rows="10"></textarea>
      <label for="tagInput">Input tags</label>
      <input type="text" id="tagInput" name="tagInput" />
      <button type="submit">submit</button>
      <button type="button" id="TESTBUTTON">TEST</button>
    </form>
    <ul>
      <% notes.forEach(note => { %> <% if(note.weekNumber ===
      Number(currentWeek)) {%>
      <li>
        <div><%= note.headerInput %></div>
        <div><%= note.bodyInput %></div>
        <div><%= note.weekNumber %></div>
        <a href="">Edit</a>
        <a href="">Remove</a>
      </li>
      <% }}) %>
    </ul>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
