<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <%- include('./partials/header.ejs', {yearWeek: yearWeek, currentWeek:
    currentWeek}) %>

    <section data-id="<%= notes._id %>" class="detail-note">
      <div class="detail-note-options">
        <div>
          <% if(notes.weekNumber === Number(currentWeek)) { %>
          <a href="/currentWeek">go back</a>
          <% } else { %>
          <a href="/targetWeek/<%= notes.weekNumber %>">go back</a>
          <% } %>
        </div>
        <div>
          <button class="material-icons open-modal">edit</button>
          <a href="/note/remove/<%= notes._id %>" class="material-icons"
            >delete</a
          >
        </div>
      </div>
      <div class="detail-note-content">
        <div class="detail-note-tags">
          <ul class="detail-note-single-tag">
            <% notes.tagInput.forEach((tag) => { %>
            <li><%= tag %></li>
            <% }) %>
          </ul>
        </div>
        <h3 class="detail-note-title"><%= notes.headerInput %></h3>
        <p class="detail-body"><%= notes.bodyInput %></p>
      </div>
    </section>

    <dialog class="modal">
      <form action="/note/<%= notes._id %>?_method=PUT" method="POST">
        <button type="button" class="material-icons close-modal">close</button>
        <label for="headerInput">Input header</label>
        <input
          type="text"
          id="headerInput"
          name="headerInput"
          placeholder="<%= notes.headerInput%>"
        />
        <label for="bodyInput">Input text</label>
        <textarea
          name="bodyInput"
          id="bodyInput"
          cols="30"
          rows="10"
          placeholder="<%= notes.bodyInput%>"
        ></textarea>
        <label for="tagInput">Input tags</label>
        <input
          type="text"
          id="tagInput"
          name="tagInput"
          placeholder="<%= notes.tagInput%>"
        />
        <button type="submit">Save changes</button>
      </form>
    </dialog>
    <footer>
      <div class="view-header">
        <h2><%=`Week ${notes.weekNumber}` %></h2>
      </div>
    </footer>
  </body>
</html>
