<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <%- include('./partials/header.ejs', {yearWeek: yearWeek, currentWeek:
    currentWeek}) %> <% if(fullTagsArray.length > 0) {%>
    <form class="search-form" method="POST">
      <fieldset class="filter-tags">
        <legend>Click tags to search</legend>
        <ul>
          <li>
            <%fullTagsArray.forEach(item => { %>
            <label for="label-button" class="label-button" value="<%= item %>"
              ><%= item %></label
            >
            <input
              type="checkbox"
              id="label-button"
              class="filter-checkbox"
              name="searchTags"
              value="<%= item %>"
            />
            <% })} %>
          </li>
        </ul>
      </fieldset>
    </form>

    <ul class="note-item">
      <% notes.forEach(note => { %> <% if(note.weekNumber === Number(week)) {%>
      <li data-id="<%= note._id %>" class="single-note">
        <a href="/note/remove/<%= note._id %>" class="material-icons">delete</a>
        <div><%= note.headerInput %></div>
        <div><%= JSON.stringify(note.tagInput) %></div>
        <a href="/note/<%= note._id%>">Go to note</a>
      </li>
      <% }}) %>
    </ul>
    <footer>
      <div class="view-header">
        <h2><%=`Week ${week}` %></h2>
      </div>
    </footer>
  </body>
</html>
